<h1>Add a new item</h1>

<form action="/backdoor_form" method = "post">
  <label for="link_url">Link URL</label>
  <input type="text" id="link_url" name="link_url">

  <label for="link_desc">Link Description</label>
  <input type="text" id="link_desc" name="link_description">

  <label for="thumb_url">Thumbnail URL</label>
  <input type="text" id="thumb_url" name="thumb_url">
  <button>Create item</button>
</form>
